body {
    margin: 0;
    padding: 0;
    background-color: #f3f4f6;
}

.image-container {
    position: fixed;
    width: fit-content;
}

img {
    width: 125px; /* Change size */
    height: auto;
    user-select: none;
    display: block;
}

.image-handle {
    position: absolute;
    left: 0px;
    top: 35%;
    width: 20%;
    height: 30%;
    cursor: grab;
    z-index: 10;
}